// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.

input {
    // If this section is omitted, holding down a key won't work anymore
    keyboard { 
        xkb { }
    }
    touchpad {
        tap
        natural-scroll
    }
    tablet {
        map-to-output "DP-3"
    }
    touch {
        map-to-output "eDP-1"
    }
    disable-power-key-handling
}

// `niri msg outputs` to list available outputs with options
output "eDP-1" {
    scale 1.0

    mode "1920x1080@60"

    position x=1280 y=0
}

output "DP-1" {
    scale 1.0

    mode "5120x2160@59.940"

    position x=1280 y=0
}

layout {
    focus-ring {
        width 4

        active-gradient from="#31748f" to="#9ccfd8" angle=135
        inactive-color "#c4a7e7"
    }

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.25; }

    gaps 4
}

environment {
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

binds {
    Mod+T { spawn "alacritty"; }
    Mod+B { spawn "firefox"; }

    Mod+S { spawn "fuzzel" "-I"; }


    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }

    Mod+Backspace { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+Comma { focus-column-left; }
    Mod+Period{ focus-column-right; }
    Mod+O     { focus-window-down; }
    Mod+E     { focus-window-up; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Comma { move-column-left; }
    Mod+Shift+Period{ move-column-right; }
    Mod+Shift+O     { move-window-down; }
    Mod+Shift+E     { move-window-up; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+Comma { focus-monitor-left; }
    Mod+Ctrl+Period{ focus-monitor-right; }
    Mod+Ctrl+O     { focus-monitor-down; }
    Mod+Ctrl+E     { focus-monitor-up; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Comma { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Period{ move-column-to-monitor-right; }
    Mod+Shift+Ctrl+O     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+E     { move-column-to-monitor-up; }


    Mod+P       { consume-window-into-column; }
    Mod+Shift+P { expel-window-from-column; }

    Mod+Z { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+K { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Shift+S      { screenshot; }
    Print            { screenshot-screen; }
    Mod+Shift+Ctrl+S { screenshot-window; }

    Mod+Shift+Q { quit; }

}
