* {
    border: none;
    font-family: FiraCodeNerdFont;
    font-size: 13px;
    color: #191724;
    border-radius: 20px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

/*-----module groups----*/
.modules-right {
    background-color: #c4a7e7;
    margin: 2px 10px 0 0;
}
.modules-center {
    background-color: #c4a7e7;
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 10px;
    background-color: #c4a7e7;
}

#clock,
#battery,
#memory,
#network,
#temperature,
#wireplumber {
    padding: 0 15px;
}

#cpu {
    padding: 0 0 0 15px;
}

/*-----Indicators----*/
#battery.charging {
    color: #31748f;
}
#battery.warning:not(.charging) {
	color: #eb6f92;
}
#battery.critical:not(.charging) {
    color: #eb6f92;
}

#temperature.critical {
    color: #eb6f92;
}
